*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

li{
  list-style: none;
}

.hidden{
  display: none;
}

body{
  background-color: #03011f;
  height: 100vh;
  color: white;
  display: flex;
  flex-direction: column;
  align-items: center;
}

h1{
  font-size: 40px;
  margin: 50px 0 20px;
}

#change-due{
  text-align: center;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.cash-input-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 20px 0 30px;
}

label{
  width: 200px;
  text-align: center;
  font-size: 18px;
}

input[type = number]{
  margin: 10px 0;
  height: 30px;
  width: 210px;
}

button{
  padding: 5px;
  width: 100px;
  background-color: rgb(250, 175, 0);
  font-weight: bold;
  font-size: 16px;
  border-color: rgb(250, 175, 0);
  border-width: 3px;
}

.drawer-container{
  width: 400px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.total-container, .thing, .total-body,.drawer-body, .drawer-last-part{
  background-color:rgb(6, 164, 111);
}

.total-container{
  display: flex;
  justify-content: center;
  align-items: center;
  width: 200px;
  height: 60px;
  position: relative;
  margin-bottom: 30px;
  transform: translateX(-40px);
}

.total-screen{
  background-color: #03011f;
  width: 92%;
  height: 70%;
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: 18px;
}

.thing{
  width: 40px;
  height: 40px;
  position: absolute;
  z-index: -1;
  bottom: -35px;
  left: 25px;
}

.drawer-body{
  width: 350px;
  height: 260px;
  border-top-right-radius: 35px;
  border-top-left-radius: 35px;
  display: flex;
  justify-content: space-around;
}

.drawer-keyboard-container{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  width: 50px;
  height: 100px;
  gap: 0 3px;
  padding-top: 20px;
  transform: translateX(-10px);
}

.drawer-keyboard{
  width: 20px;
  height: 20px;
  background-color: black;
  border-radius: 2px;
}

.drawer-change{
  background-color: white;
  color: black;
  margin-top: 20px;
  width: 170px;
  height: 220px;
  padding: 10px;
  font-size: 18px;
}

.drawer-change p {
  font-weight: bold;
}

.drawer-last-part{
  width: 350px;
  height: 50px;
  margin: 10px 0 50px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.circle{
  background-color: black;
  width: 20px;
  height: 20px;
  border-radius: 50%;
}